.servicios-container {
  padding-top: 5rem;
  padding-bottom: 5rem;
  min-height: 100vh;
  max-width: 100vw;
  background-color: #0d1623;
  color: #fff;
}
.servicios-container h2 {
  font-size: 38px;
  padding-bottom: 3rem;
}
