/* HERO */
.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
}
.hero {
  width: 60%;
  display: flex;
}
.hero h2 {
  color: #006cff;
  font-size: 48px;
  border-right: 1px solid #dedede;
  padding-right: 2rem;
}
.hero p {
  padding-left: 2rem;
  color: gray;
  text-wrap: pretty;
  margin-top: 0.5rem;
}
@media (max-width: 1100px) {
  .hero {
    width: 80%;
  }
}
@media (max-width: 800px) {
  .hero {
    width: 100%;
    flex-direction: column;
  }
  .hero h2 {
    border-right: 0;
    padding-right: 0;
    margin-bottom: 1rem;
  }
  .hero p {
    padding-left: 0;
  }
}
/* BANNER */
.banner-container {
  overflow: hidden;
  width: 100%;
}
.banner .banner-container {
  display: flex;
}
.logos {
  display: flex;
  animation: swipe 25s linear infinite;
}
.logos img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: center;
  margin: 0 30px;
}

@keyframes swipe {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
