.carousel {
  height: 480px;
  overflow: hidden;
  scroll-behavior: smooth;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 3rem;
}
.footer_link {
  color: white;
  font-size: 18px;
}
.footer_link:hover {
  text-decoration: underline;
}
