/* NEW CSS */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #19283c;
  z-index: 99;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  padding: 0 5rem;
  margin: 0 auto;
  z-index: 99;
}
.nav-title {
  display: flex;
  align-items: center;
}
.nav-title span {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  text-overflow: ellipsis;
  padding-left: 10px;
}
.toggle-menu,
.close-menu {
  display: none;
}
.nav-list {
  display: flex;
  height: 100%;
}
.nav-item {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}
.nav-link {
  font-size: 18px;
  color: white;
  padding: 0.3rem;
  transition: background-color 0.3s ease-in-out;
}
.nav-link:hover {
  background-color: #006cff;
}
.megamenu {
  width: 70%;
  right: 0;
  top: 5rem;
  padding: 1rem;
  position: absolute;
  background-color: #19283c;
  color: white;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
}
.dropdown:hover .megamenu {
  visibility: visible;
  transition: all 0.3s ease;
  opacity: 1;
  display: block;
}

@media screen and (max-width: 768px) {
  .megamenu {
    width: 100%;
    position: static;
    background-color: transparent;
    padding: 0;
    display: none;
  }
  .nav-list {
    position: absolute;
    height: 100vh;
    width: 100%;
    left: -100%;
    max-width: 350px;
    top: 0;
    background-color: #09f;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    display: block;
    transition: 0.3s;
  }
  .nav-item {
    height: auto;
    display: block;
    margin: 1rem;
  }
  .toggle-menu,
  .close-menu {
    display: block;
  }
  .close-menu {
    height: 5rem;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 2rem;
  }
  .show-menu {
    left: 0;
  }
  .nav-title span {
    display: none;
  }
}
