/* NEW CSS */
.header {
  top: 0;
  left: 0;
  z-index: 99;
  position: fixed;
}
.nav {
  height: 80px;
  z-index: 99;
}
.nav_title {
  padding-left: 10px;
}
.toggle_menu,
.close_menu {
  display: none;
}
.nav_list {
  display: flex;
  height: 100%;
}
.nav_list li:last-child {
  padding-right: 0;
}
.nav_item {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}
.nav_link {
  font-size: 18px;
  padding: 8px;
  transition: background-color 0.3s ease-in-out;
  z-index: 10;
  border-radius: 20px;
}
.nav_link:hover {
  background-color: hsla(215, 100%, 50%, 1);
}
.dropdown:hover .nav_link {
  background-color: hsla(215, 100%, 40%, 1);
}
.megamenu {
  right: 0;
  top: 0;
  position: absolute;
  width: 60%;
  padding: 80px 16px 16px 16px;
  color: white;
  display: none;
}
.dropdown:hover .megamenu {
  display: block;
}

@media screen and (max-width: 768px) {
  .megamenu {
    width: 100%;
    position: static;
    background-color: transparent;
    padding: 0;
    display: none;
  }
  .nav_list {
    position: absolute;
    height: 100vh;
    width: 100%;
    left: -100%;
    max-width: 350px;
    top: 0;
    background-color: #09f;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    display: block;
    transition: 0.3s;
  }
  .nav_item {
    height: auto;
    display: block;
    margin: 1rem;
  }
  .toggle_menu,
  .close_menu {
    display: block;
  }
  .close_menu {
    height: 5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 2rem;
  }
  .show_menu {
    left: 0;
  }
  .nav_title {
    display: none;
  }
}
