/* COPYRIGHT */
.copyright {
  padding: 1.5rem;
  background-color: #19283c;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

/* FOOTER */
.footer {
  color: white;
  background-color: #1e2f46;
  padding: 3rem 10rem;
  gap: 0.2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-items: center;
}

.footer h6 {
  font-size: 18px;
  padding-bottom: 10px;
}
.footer ul {
  list-style: none;
  font-size: 12px;
}
.footer li {
  padding-bottom: 3px;
  cursor: pointer;
}
.footer li:hover {
  color: #ededed;
  scale: 1.1;
}
