/* CARDS */
.card-container {
  height: 440px;
  margin-right: 40px;
  min-width: calc(100% / 3.5);
  background-color: #1e2f46;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.card-container:hover {
  opacity: 90%;
  scale: 1.1;
}
.card-container:first-child:hover {
  margin-left: 20px;
}
.card-container img {
  object-fit: cover;
  object-position: center;
  user-select: none;
  height: 50%;
  max-width: 100%;
  aspect-ratio: 3/2;
}
.card-info {
  color: white;
  height: 50%;
  max-width: 100%;
  overflow: hidden;
  padding: 1rem;
  position: relative;
}
.card-info p {
  text-wrap: pretty;
  font-size: 16px;
  font-weight: 400;
}
.card-info footer {
  position: absolute;
  bottom: 20px;
  font-size: 18px;
}
@media (max-width: 1300px) {
  .card-container {
    min-width: calc(100% / 2.5);
  }
}
@media (max-width: 1000px) {
  .card-container {
    min-width: calc(100% / 2);
  }
}
@media (max-width: 700px) {
  .card-container {
    min-width: calc(100% / 1.2);
  }
}

/* ARROWS */
.arrows-container {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
}
.arrows-buttons {
  background-color: #1e2f46;
  padding: 15px 10px 10px 10px;
  cursor: pointer;
  transition: all 0.4s ease-out;
}
.arrows-buttons:hover {
  background-color: #006cff;
}
