.text_box {
  display: flex;
  gap: 16px;
  margin-top: 64px;
  text-align: center;
}
.divider {
  width: 1px;
  background-color: #dedede;
}

@media (max-width: 800px) {
  .text_box {
    flex-direction: column;
    align-items: center;
  }
  .divider {
    height: 1px;
    width: 70%;
  }
}
/* BANNER */
.logos {
  animation: swipe 35s linear infinite;
}
.logos img {
  width: 150px;
  height: 150px;
  margin: 0 30px;
  object-fit: cover;
  object-position: center;
}

@keyframes swipe {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
