.section-container {
  display: flex;
  align-items: center;
}
.hero {
  color: white;
}
.hero h1 {
  font-size: 64px;
}
.hero p {
  max-width: 60%;
  font-size: 28px;
  text-wrap: pretty;
}
.hero a {
  color: white;
}
.hero a:hover {
  text-decoration: underline;
}
@media (max-width: 900px) {
  .hero p {
    max-width: 100%;
  }
}
